


.header{
    a{
    font-size:$font-l;
    color: $link-color;
    font-size:$font-l;
    }
    p{
      font-family:$font-family-base;
      font-weight:$font-family-title ;
    }
  }
  .contenet a{
    color: $link-color;
    font-size:$font-l;
  }
  
  .footer {
    color: $link-color;
  }